In [1]:
import torch
import torch.nn as nn
import torch.nn.functional as F
import numpy as np
import pandas as pd

# Data

In [2]:
ratings_df = pd.read_csv("ml-25m/ratings.csv")
movies_df = pd.read_csv("ml-25m/movies.csv")

In [3]:
ratings_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25000095 entries, 0 to 25000094
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   userId     int64
 1   movieId    int64
 2   rating     float64
 3   timestamp  int64
dtypes: float64(1), int64(3)
memory usage: 762.9 MB

In [7]:
ratings_df.head(10)

   userId  movieId  rating   timestamp
0       1      296     5.0  1147880044
1       1      306     3.5  1147868817
2       1      307     5.0  1147868828
3       1      665     5.0  1147878820
4       1      899     3.5  1147868510
5       1     1088     4.0  1147868495
6       1     1175     3.5  1147868826
7       1     1217     3.5  1147878326
8       1     1237     5.0  1147868839
9       1     1250     4.0  1147868414

In [3]:
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62423 entries, 0 to 62422
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  62423 non-null  int64
 1   title    62423 non-null  object
 2   genres   62423 non-null  object
dtypes: int64(1), object(2)
memory usage: 1.4+ MB

Remove non-genres entries

In [4]:
nogenres_indexes = movies_df.index[movies_df['genres'] == '(no genres listed)'].tolist()
movieId_todelete = movies_df.iloc[nogenres_indexes]['movieId'].to_numpy()
ratings_df.drop(ratings_df[ratings_df['movieId'].isin(movieId_todelete)].index, inplace=True)
ratings_df.reset_index(drop=True, inplace=True)

In [12]:
ratings_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24973468 entries, 0 to 24973467
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   userId     int64
 1   movieId    int64
 2   rating     float64
 3   timestamp  int64
dtypes: float64(1), int64(3)
memory usage: 762.1 MB

In [14]:
ratings_df.sort_values(by="timestamp", inplace=True, ignore_index=True)

In [18]:
ratings_df = ratings_df

    userId  movieId  rating  timestamp
0     2262       21     3.0  789652009
1     2262     1079     3.0  789652009
2     2262       47     5.0  789652009
3   109832       34     5.0  822873600
4   109832       32     4.0  822873600
5   109832       24     3.0  822873600
6   109832       21     4.0  822873600
7   109832       19     3.0  822873600
8   109832       17     5.0  822873600
9   109832       12     1.0  822873600
10  109832       11     5.0  822873600
11  109832       10     5.0  822873600
12  109832        7     5.0  822873600
13  109832        2     4.0  822873600
14  124805       10     3.0  822873600
15  124805       11     4.0  822873600
16  124805       21     5.0  822873600
17  124805       45     5.0  822873600
18  124805       58     5.0  822873600
19   42937       32     5.0  822873600
20   71732       19     1.0  822873600
21  109832       36     5.0  822873600
22  109832       45     3.0  822873600
23   13424       10     3.0  822873600
24  109832       50     5.0  822873600
25  102689        1     4.0  822873600
26  102689       10     4.0  822873600
27  102689       18     4.0  822873600
28  102689       19     4.0  822873600
29  102689       21     5.0  822873600

# Model

In [4]:
from utils.convlstmnet import ConvLSTMNet

In [5]:
inputs_channels = 3
cell = "convttlstm"
order = 3
steps = 3
rank = 8
kernel_size = 5
output_sigmoid = True

In [6]:
model = ConvLSTMNet(
        # input to the model
        input_channels = inputs_channels, 
        # architecture of the model
        layers_per_block = (3, 3, 3, 3), 
        hidden_channels = (32, 48, 48, 32), 
        skip_stride = 2,
        # parameters of convolutional tensor-train layers
        cell = cell, cell_params = {"order": order,
        "steps": steps, "rank": rank},
        # parameters of convolutional operations
        kernel_size = kernel_size, bias = True,
        # output function and output format
        output_sigmoid = output_sigmoid)